h{

    font-family:Verdana, Tahoma, Geneva, Verdana, sans-serif;
    font-size:40em;
    font-weight:bold;

}

p{

    font-family:Verdana, Tahoma, Geneva, Verdana, sans-serif;
    font-size:12em;
    font-weight:bold;

}